In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [5]:
data = pd.read_csv('Database/Madrid.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    21742 non-null  int64
 1   id                            21742 non-null  int64
 2   title                         21742 non-null  object
 3   subtitle                      21742 non-null  object
 4   sq_mt_built                   21616 non-null  float64
 5   sq_mt_useful                  8228 non-null   float64
 6   n_rooms                       21742 non-null  int64
 7   n_bathrooms                   21726 non-null  float64
 8   n_floors                      1437 non-null   float64
 9   sq_mt_allotment               1432 non-null   float64
 10  latitude                      0 non-null      float64
 11  longitude                     0 non-null      float64
 12  raw_address                   16277 non-null  object
 13  is_exact_address_hidden       21742 non-null  bool
 14  street_name                   15837 non-null  object
 15  street_number                 6300 non-null   object
 16  portal                        0 non-null      float64
 17  floor                         19135 non-null  object
 18  is_floor_under                20572 non-null  object
 19  door                          0 non-null      float64
 20  neighborhood_id               21742 non-null  object
 21  operation                     21742 non-null  object
 22  rent_price                    21742 non-null  int64
 23  rent_price_by_area            0 non-null      float64
 24  is_rent_price_known           21742 non-null  bool
 25  buy_price                     21742 non-null  int64
 26  buy_price_by_area             21742 non-null  int64
 27  is_buy_price_known            21742 non-null  bool
 28  house_type_id                 21351 non-null  object
 29  is_renewal_needed             21742 non-null  bool
 30  is_new_development            20750 non-null  object
 31  built_year                    10000 non-null  float64
 32  has_central_heating           13608 non-null  object
 33  has_individual_heating        13608 non-null  object
 34  are_pets_allowed              0 non-null      float64
 35  has_ac                        11211 non-null  object
 36  has_fitted_wardrobes          13399 non-null  object
 37  has_lift                      19356 non-null  object
 38  is_exterior                   18699 non-null  object
 39  has_garden                    1556 non-null   object
 40  has_pool                      5171 non-null   object
 41  has_terrace                   9548 non-null   object
 42  has_balcony                   3321 non-null   object
 43  has_storage_room              7698 non-null   object
 44  is_furnished                  0 non-null      float64
 45  is_kitchen_equipped           0 non-null      float64
 46  is_accessible                 4074 non-null   object
 47  has_green_zones               4057 non-null   object
 48  energy_certificate            21742 non-null  object
 49  has_parking                   21742 non-null  bool
 50  has_private_parking           0 non-null      float64
 51  has_public_parking            0 non-null      float64
 52  is_parking_included_in_price  7719 non-null   object
 53  parking_price                 7719 non-null   float64
 54  is_orientation_north          11358 non-null  object
 55  is_orientation_west           11358 non-null  object
 56  is_orientation_south          11358 non-null  object
 57  is_orientation_east           11358 non-null  object
dtypes: bool(5), float64(17), int64(6), object(30)
memory usage: 8.9+ MB

In [7]:
data = data.dropna(axis=1, how='all')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    21742 non-null  int64
 1   id                            21742 non-null  int64
 2   title                         21742 non-null  object
 3   subtitle                      21742 non-null  object
 4   sq_mt_built                   21616 non-null  float64
 5   sq_mt_useful                  8228 non-null   float64
 6   n_rooms                       21742 non-null  int64
 7   n_bathrooms                   21726 non-null  float64
 8   n_floors                      1437 non-null   float64
 9   sq_mt_allotment               1432 non-null   float64
 10  raw_address                   16277 non-null  object
 11  is_exact_address_hidden       21742 non-null  bool
 12  street_name                   15837 non-null  object
 13  street_number                 6300 non-null   object
 14  floor                         19135 non-null  object
 15  is_floor_under                20572 non-null  object
 16  neighborhood_id               21742 non-null  object
 17  operation                     21742 non-null  object
 18  rent_price                    21742 non-null  int64
 19  is_rent_price_known           21742 non-null  bool
 20  buy_price                     21742 non-null  int64
 21  buy_price_by_area             21742 non-null  int64
 22  is_buy_price_known            21742 non-null  bool
 23  house_type_id                 21351 non-null  object
 24  is_renewal_needed             21742 non-null  bool
 25  is_new_development            20750 non-null  object
 26  built_year                    10000 non-null  float64
 27  has_central_heating           13608 non-null  object
 28  has_individual_heating        13608 non-null  object
 29  has_ac                        11211 non-null  object
 30  has_fitted_wardrobes          13399 non-null  object
 31  has_lift                      19356 non-null  object
 32  is_exterior                   18699 non-null  object
 33  has_garden                    1556 non-null   object
 34  has_pool                      5171 non-null   object
 35  has_terrace                   9548 non-null   object
 36  has_balcony                   3321 non-null   object
 37  has_storage_room              7698 non-null   object
 38  is_accessible                 4074 non-null   object
 39  has_green_zones               4057 non-null   object
 40  energy_certificate            21742 non-null  object
 41  has_parking                   21742 non-null  bool
 42  is_parking_included_in_price  7719 non-null   object
 43  parking_price                 7719 non-null   float64
 44  is_orientation_north          11358 non-null  object
 45  is_orientation_west           11358 non-null  object
 46  is_orientation_south          11358 non-null  object
 47  is_orientation_east           11358 non-null  object
dtypes: bool(5), float64(7), int64(6), object(30)
memory usage: 7.2+ MB

In [8]:
data.duplicated().sum()

np.int64(0)

In [10]:
df = data[['id', 'subtitle', 'sq_mt_built', 'sq_mt_useful','n_rooms', 'n_bathrooms', 'n_floors', 'sq_mt_allotment', 'rent_price', 'buy_price', 'buy_price_by_area','built_year','parking_price']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 21742 non-null  int64
 1   subtitle           21742 non-null  object
 2   sq_mt_built        21616 non-null  float64
 3   sq_mt_useful       8228 non-null   float64
 4   n_rooms            21742 non-null  int64
 5   n_bathrooms        21726 non-null  float64
 6   n_floors           1437 non-null   float64
 7   sq_mt_allotment    1432 non-null   float64
 8   rent_price         21742 non-null  int64
 9   buy_price          21742 non-null  int64
 10  buy_price_by_area  21742 non-null  int64
 11  built_year         10000 non-null  float64
 12  parking_price      7719 non-null   float64
dtypes: float64(7), int64(5), object(1)
memory usage: 2.2+ MB

In [11]:
df = df.rename(columns={'subtitle':'city'})

In [12]:
df = df[['id', 'city','sq_mt_built','n_rooms','n_bathrooms','rent_price','buy_price', 'buy_price_by_area']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 21742 non-null  int64
 1   city               21742 non-null  object
 2   sq_mt_built        21616 non-null  float64
 3   n_rooms            21742 non-null  int64
 4   n_bathrooms        21726 non-null  float64
 5   rent_price         21742 non-null  int64
 6   buy_price          21742 non-null  int64
 7   buy_price_by_area  21742 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.3+ MB

In [13]:
df['n_rooms'].describe()

count   21,742.00
mean         3.01
std          1.51
min          0.00
25%          2.00
50%          3.00
75%          4.00
max         24.00
Name: n_rooms, dtype: float64

In [15]:
df.drop(df.index[df['n_rooms'] == 0], axis=0, inplace = True)

In [16]:
df['n_bathrooms'].mode()

0   1.00
Name: n_bathrooms, dtype: float64

In [19]:
df['n_bathrooms'] = df['n_bathrooms'].fillna(1)
df['n_bathrooms'] = df['n_bathrooms'].replace(0,1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21303 entries, 0 to 21741
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 21303 non-null  int64
 1   city               21303 non-null  object
 2   sq_mt_built        21177 non-null  float64
 3   n_rooms            21303 non-null  int64
 4   n_bathrooms        21303 non-null  float64
 5   rent_price         21303 non-null  int64
 6   buy_price          21303 non-null  int64
 7   buy_price_by_area  21303 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.5+ MB